@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), 
       url(../fonts/OpenSans/OpenSans-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 600;
  src: local('Open Sans'),
       url(../fonts/OpenSans/OpenSans-SemiBold.woff) format('woff');
}

@import "helpers";
@import "variables";
@import "header/header.scss";
@import "navigation/navigation.scss";
@import "main/main.scss";
@import "footer/footer.scss";

* {

	box-sizing: border-box;

  &:before {
    box-sizing: border-box;
  }
		

	&:after {
		box-sizing: border-box;
  }

	&:focus {
		outline: none !important;
  }
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	font-family: 'Open Sans', Arial, sans-serif;
	scroll-behavior: smooth;
  @include cursor;
  }

 h2 {
   margin: 0;
 }