:root {
  --background-footer: #00a76b;
  --accent-hover: #00a76b;
  --button-color: #00bb78;
  --color-dark-green: #009b63;
  --title-color: #18191f;
  --text-color-dark: #000000;
  --text-color-light: #ffffff;
  --list-menu-color: #0e0e0f;
}
