<!--START footer-->
<footer class="footer">
  <section class="footer-menu-wrapper container">
    <div class="empty-place"></div>
    <div class="footer-menu__column-link footer-menu__column-link--conect">
      <div class="column-link-title">Для связи</div>
      <div class="footer-menu__links">
        <a href="#" class="footer-menu__link">
          <img src="./img/icons/whatsApp.svg" alt="whatsApp" class="footer-menu__link-img">
          7 (926) 126-64-57
        </a>
        <a href="#" class="footer-menu__link">
          <img src="./img/icons/mail.svg" alt="mail" class="footer-menu__link-img">
          7 (926) 126-64-57
        </a>
        <a href="#" class="footer-menu__link">
          <img src="./img/icons/telegram.svg" alt="telegram" class="footer-menu__link-img">
          7 (926) 126-64-57
        </a>
      </div>
    </div>
    <div class="footer-menu__column-link footer-menu__column-link--company">
      <div class="column-link-title">Компания</div>
      <div class="footer-menu__links">
        <a href="#" class="footer-menu__link">Услуги</a>
        <a href="#" class="footer-menu__link">Кейсы</a>
        <a href="#" class="footer-menu__link">Контакты</a>
        <a href="#" class="footer-menu__link">Сотрудничество</a>
      </div>
    </div>
    <div class="footer-menu__column-link footer-menu__column-link--documents">
      <div class="column-link-title">Документы</div>
      <div class="footer-menu__links">
        <a href="#" class="footer-menu__link">Политика конфеденциальности</a>
        <a href="#" class="footer-menu__link">Пользовательское соглашение</a>
      </div>
    </div>
    <div class="footer-menu__column-link footer-menu__column-link--social-media">
      <div class="column-link-title">Будьте в курсе</div>
      <div class="input-send-email">
        <input type="email" class="column-link__input" placeholder="E-mail">
        <div class="input-send-btn">
          <img src="../../../img/icons/send.svg" alt="">
        </div>
      </div>
      <div class="column-link-socil">
        <a href="#" class="link-social__item"><img src="./img/icons/instagram.svg" alt="instagram" class="link-social__item-img"></a>
        <a href="#" class="link-social__item"><img src="./img/icons/vk.svg" alt="vk" class="link-social__item-img"></a>
        <a href="#" class="link-social__item"><img src="./img/icons/facebook.svg" alt="facebook" class="link-social__item-img"></a>
        
      </div>
    </div>
    <div class="footer-copyright">Copyright © 2022 SCID</div>
  </section>
</footer>
<!--END footer-->