<!--START footer-->
<footer class="footer">
  <section class="footer-menu-wrapper container">
    <div></div>
    <div class="footer-menu__column-link">
      <div class="column-link-title">Для связи</div>
      <a href="#" class="footer-menu__link">
        <img src="whatsApp.svg" alt="whatsApp">
        7 (926) 126-64-57
      </a>
      <a href="#" class="footer-menu__link">
        <img src="mail.svg" alt="whatsApp">
        7 (926) 126-64-57
      </a>
      <a href="#" class="footer-menu__link">
        <img src="telegram.svg" alt="whatsApp">
        7 (926) 126-64-57
      </a>
    </div>
    <div class="footer-menu__column-link">
      <div class="column-link-title">Компания</div>
      <a href="#" class="footer-menu__link">Услуги</a>
      <a href="#" class="footer-menu__link">Кейсы</a>
      <a href="#" class="footer-menu__link">Контакты</a>
      <a href="#" class="footer-menu__link">Сотрудничество</a>
    </div>
    <div class="footer-menu__column-link">
      <div class="column-link-title">Документы</div>
      <a href="#" class="footer-menu__link">Политика конфеденциальности</a>
      <a href="#" class="footer-menu__link">Пользовательское соглашение</a>
    </div>
    <div class="footer-menu__column-link">
      <div class="column-link-title">Будьте в курсе</div>
      <input type="email" class="column-link__input">
      <div class="column-link-socil">
        <img src="./img/image/instagram.svg" alt="instagram">
        <img src="./img/image/vk.svg" alt="vk">
        <img src="./img/image/facebook.svg" alt="facebook">
      </div>
    </div>
  </section>
</footer>
<!--END footer-->