<section class="services container">
  <h2 class="services-title">Наши услуги</h2>
  <div class="services-operation">
    <a href="#" class="services-operation__item">
      <img src="./img/images/roof.jpg" alt="" class="services-operation-img">
      <div class="services-operation-description">Кадастровые работы в отношении земельных участков</div>
    </a>
    <a href="#" class="services-operation__item">
      <img src="./img/images/circleWindow.jpg" alt="" class="services-operation-img">
      <div class="services-operation-description">Кадастровые работы в отношении земельных участков</div>
    </a>
    <a href="#" class="services-operation__item">
      <img src="./img/images/stairs.jpg" alt="" class="services-operation-img">
      <div class="services-operation-description">Кадастровые работы в отношении земельных участков</div>
    </a>
    <a href="#" class="services-operation__item">
      <img src="./img/images/cornerWindows.jpg" alt="" class="services-operation-img">
      <div class="services-operation-description">Кадастровые работы в отношении земельных участков</div>
    </a>
    <a href="#" class="services-operation__item">
      <img src="./img/images/circleTrees.jpg" alt="" class="services-operation-img">
      <div class="services-operation-description">Кадастровые работы в отношении земельных участков</div>
    </a>
    <a href="#" class="services-operation__item">
      <img src="./img/images/whiteWalls.jpg" alt="" class="services-operation-img">
      <div class="services-operation-description">Кадастровые работы в отношении земельных участков</div>
    </a>

    <a href="#" class="services-operation__item services-operation__item-hidden">
      <img src="./img/images/roof.jpg" alt="" class="services-operation-img">
      <div class="services-operation-description">Кадастровые работы в отношении земельных участков</div>
    </a>
    <a href="#" class="services-operation__item services-operation__item-hidden">
      <img src="./img/images/circleWindow.jpg" alt="" class="services-operation-img">
      <div class="services-operation-description">Кадастровые работы в отношении земельных участков</div>
    </a>
    <a href="#" class="services-operation__item services-operation__item-hidden">
      <img src="./img/images/stairs.jpg" alt="" class="services-operation-img">
      <div class="services-operation-description">Кадастровые работы в отношении земельных участков</div>
    </a>
    <a href="#" class="services-operation__item services-operation__item-hidden">
      <img src="./img/images/cornerWindows.jpg" alt="" class="services-operation-img">
      <div class="services-operation-description">Кадастровые работы в отношении земельных участков</div>
    </a>
    <a href="#" class="services-operation__item services-operation__item-hidden">
      <img src="./img/images/circleTrees.jpg" alt="" class="services-operation-img">
      <div class="services-operation-description">Кадастровые работы в отношении земельных участков</div>
    </a>
    <a href="#" class="services-operation__item services-operation__item-hidden">
      <img src="./img/images/whiteWalls.jpg" alt="" class="services-operation-img">
      <div class="services-operation-description">Кадастровые работы в отношении земельных участков</div>
    </a>
  </div>
  <button class="services-operation__button js-showList">Все услуги</button>
</section>