<!--START header-->
<header class="header">
  <div class="header-menu container">
    <a href="#back-to-start" class="header-menu__log">
      <img src="./img/logo/logo.svg" alt="logo">
    </a>
    <div class="header-menu__navigation">
      @@include('../navigation/navigation.html')
      <div class="menu-burger js-menuTrigger">
        <span class="menu-burger__line"></span>
      </div>
      <button class="header-menu__button">Заказать звонок</button>
    </div>
  </div>
</header>
<!-- END header-->

<!-- START  Slider -->
<div class="slider-block" id="back-to-start">
  <div class="project-description">
    <span class="project-description__part-first">Lorem ipsum dolor sit amet,</span><span
      class="project-description__part-second">consectetur adipiscing elit</span>
  </div>
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./img/images/mainImageSwiper.jpg" alt="mainImageSwiper" class="swiper-slide__img">
      </div>
      <div class="swiper-slide">
        <img src="./img/images/mainImageSwiper_2.jpg" alt="mainImageSwiper" class="swiper-slide__img">
      </div>
      <div class="swiper-slide">
        <img src="./img/images/mainImageSwiper_3.jpg" alt="mainImageSwiper" class="swiper-slide__img">
      </div>
      <div class="swiper-slide">
        <img src="./img/images/mainImageSwipe_4.jpg" alt="mainImageSwiper" class="swiper-slide__img">
      </div>
    </div>
    <div class="custom-bullet swiper-pagination"></div>
  </div>
</div>
<!--END  Slider -->